/**/__pycache__/*
/**/.gnupg/*
/**/.ipynb_checkpoints/*
/**/.mypy_cache/*
.pyre/*
.pytest_cache/*
.redhat/*
.vscode/*
.vscode-server/*
*.egg-info
*.log
*.so
/build/*
/**/core
/**/data/*
/dist/*
/docs/**/_build/*
/html/*
/log/*
/site/*
!.gitkeep
